[Unit]
Description=Check available APT updates.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/KaliUpdates.sh --sync-polybar

[Install]
WantedBy=default.target
